@font-face {
  font-family: Aleo;
  font-weight: lighter;
  src: url("../fonts/Aleo-Light.otf") format("opentype");
}
@font-face {
  font-family: Aleo;
  font-weight: normal;
  src: url("../fonts/Aleo-Regular.otf") format("opentype");
}
#container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.feed {
  background: #EEE;
  border: 1px solid #FFF;
  padding: 10px 0;
  width: 300px;
  height: 300px;
  font-size: 100%;
  float: left;
  overflow: hidden;
  color: #FFF;
}
.feed.facebook {
  background: #3b5999 url('../imgs/fb-overlay-bg.png') no-repeat bottom right;
}
.feed.twitter {
  background: #55acee url('../imgs/tw-overlay-bg.png') no-repeat bottom right;
}
.feed.instagram {
  padding: 0;
}
.feed.instagram .feed-text {
  height: inherit;
  width: inherit;
}
.feed.instagram .feed-text .feed-image {
  max-width: 100%;
  height: inherit;
  width: inherit;
}
.feed.instagram .feed-text .feed-image img {
  max-width: inherit;
  height: auto;
  display: none;
}
.feed.instagram .feed-text .feed-image .img-overlay {
  height: inherit;
  width: inherit;
  position: relative;
  top: -100%;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}
.feed.instagram .feed-info {
  position: relative;
  z-index: 2;
  top: -22.5%;
}
.feed h2,
.feed h3,
.feed h4 {
  margin: 0;
  padding: 0;
  font-family: Aleo;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
.feed .feed-info,
.feed .feed-text {
  width: 90%;
  margin: 0 auto;
}
.feed .feed-text {
  height: 80%;
  overflow: hidden;
  font-size: 11px;
}
.feed .feed-text h3 {
  font-size: 1.25em;
  font-weight: lighter;
}
.feed .feed-info {
  height: 20%;
  padding-top: 10px;
}
.feed .feed-info .feed-img,
.feed .feed-info .feed-details {
  display: inline-block;
  float: left;
}
.feed .feed-info .feed-img {
  width: 20%;
}
.feed .feed-info .feed-img img {
  border-radius: 50px;
  overflow: hidden;
  max-width: 50px;
  height: auto;
}
.feed .feed-info .feed-details {
  width: 80%;
}
.feed .feed-info .feed-details h2 {
  font-size: 1.5em;
  font-weight: normal;
  padding-left: 10px;
}
.feed .feed-info .feed-details h4 {
  font-size: 1.0em;
  font-weight: lighter;
  padding-left: 10px;
}
.feed h1 {
  font-size: 1.5rem;
  text-align: center;
}
.empty-msg {
  width: 100%;
  position: fixed;
  font-family: Aleo;
  text-align: center;
  top: 43%;
}
